.progress-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #1F2937;
	color: #F9FAF8;
	padding: 128px 256px;
}

.gantt-chart {
	padding-top: 16px;
	max-width: 100%;
	height: auto;
}

.problem-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F9FAF8;
	color: #1F2937;
	padding: 128px 256px;
}

.statement {
	padding-top: 16px;
	font-size: 24px;
	text-align: left;
}


.documentation-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 128px 10%;
	background-color: #E5E7EB;
}

.documents {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	padding-top: 2em;
}

.button {
	flex: 1;
	align-items: center;
	font-size: 32px;
	color: #F9FAF8;
	background-color: #3882F6;
	padding: 8px;
	border-radius: 8px;
	border-style: solid;
	border-color: #E5E7EB;
}

.interview-notes {
	padding-top: 64px;
	width: 100%;
	height: 20em;
}

